<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miku.advs.modular.system.mapper.channel.ChannelActiveStatMapper">
    <resultMap id="BaseResultMap" type="com.miku.advs.modular.system.entity.channel.ChannelActiveStat">
        <id column="date" jdbcType="DATE" property="date"/>
        <id column="channelId" jdbcType="INTEGER" property="channelid"/>
        <result column="newUserCount" jdbcType="INTEGER" property="newusercount"/>
        <result column="activeUserCount" jdbcType="INTEGER" property="activeusercount"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="map">
    delete from rtdb_channel_activeuser_stat
    where date = #{date,jdbcType=DATE}
      and channelId = #{channelid,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.miku.advs.modular.system.entity.channel.ChannelActiveStat">
    insert into rtdb_channel_activeuser_stat (date, channelId,
      newUserCount, activeUserCount )
    values (#{date,jdbcType=DATE}, #{channelid,jdbcType=INTEGER},
        #{newusercount,jdbcType=INTEGER}, #{activeusercount,jdbcType=INTEGER}
      )
  </insert>

    <update id="updateByPrimaryKey" parameterType="com.miku.advs.modular.system.entity.channel.ChannelActiveStat">
    update rtdb_channel_activeuser_stat
    set
      newUserCount = #{newusercount,jdbcType=INTEGER},
      activeUserCount = #{activeusercount,jdbcType=INTEGER}
    where date = #{date,jdbcType=DATE}
      and channelId = #{channelid,jdbcType=INTEGER}
  </update>

    <update id="updateActiveUserCount">
    INSERT INTO rtdb_channel_activeuser_stat (DATE,channelId,newUserCount,activeUserCount) VALUES (#{date }, #{channelId}, 1,1)
     ON DUPLICATE KEY UPDATE activeUserCount=activeUserCount+1 ;
  </update>

    <update id="updateNewUserCount">
    INSERT INTO rtdb_channel_activeuser_stat (DATE,channelId,newUserCount,activeUserCount) VALUES (#{date }, #{channelId}, 1,1)
     ON DUPLICATE KEY UPDATE newUserCount=newUserCount+1 ;
  </update>

    <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select date, channelId, newUserCount, activeUserCount
    from rtdb_channel_activeuser_stat
    where date = #{date,jdbcType=DATE}
      and channelId = #{channelid,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultType="map">
        select date, channelId,packageId,parentId newUserCount, activeUserCount
        from rtdb_channel_activeuser_stat a inner join rtdb_channel_sub c on a.channelId = c.id
        where 1=1
        <if test="channelId != null and channelId != 0">
            and channelId = #{channelId}
        </if>
        <if test="parentId != null and parentId != 0">
            and parentId = #{parentId}
        </if>
        <if test="packageId != null and packageId != 0">
            and packageId = #{packageId}
        </if>
        <if test="startDate != null and startDate != ''">
            and date >= #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and date &lt;= #{endDate}
        </if>
        order by date desc,channelId DESC
    </select>
</mapper>